MainMenuTheme.bak

DtaverWriter.exe
VersionWriter.exe
version
version_u
VersionWriter-CopiedFiles/

skirmish.bat

Maps/Custom/*.zip
Maps/Custom/*.map
Maps/Custom/*.png

Map Editor/FinalSun.ini
Map Editor/finalsunlog.txt

client.log

Saved Games/*.SAV
SAVEGAME.NET

ddraw.dll
ddraw.ini

sun.ini

spawn.ini
spawnmap.ini
spawnSG.ini
stats.dmp
statistics.dat
ts.log
except.txt
mpstats.log
sync*.txt
