MainMenuTheme.bak

DtaverWriter.exe
VersionWriter.exe
version
version_u
version_cc
VersionWriter-CopiedFiles/
cache
*_u

skirmish.bat

Maps/Custom/*.zip
Maps/Custom/*.map
Maps/Custom/*.png

Map Editor/FinalSun/FinalSun.ini
Map Editor/FinalSun/finalsunlog.txt
Map Editor/FinalSun/*.log

Client/
Debug/
QM/

client.log

Saved Games/*.SAV
SAVEGAME.NET

ddraw.dll
ddraw.ini

KEYBOARD.INI
sun.ini

spawn.ini
spawnmap.ini
spawnSG.ini
stats.dmp
statistics.dat
ts.log
except.txt
mpstats.log
sync*.txt
mpstats.txt
HALLFAME.DAT

_gsdata_
buffer

SCORES.MIX
SCORES01.MIX
Movies01.mix
Movies02.mix
Movies03.mix

Language.dll
