MainMenuTheme.bak

DtaverWriter.exe
VersionWriter.exe
version
version_u
VersionWriter-CopiedFiles/
cache

skirmish.bat

Maps/Custom/*.zip
Maps/Custom/*.map
Maps/Custom/*.png

Map Editor/FinalSun.ini
Map Editor/finalsunlog.txt

Client/

client.log

Saved Games/*.SAV
SAVEGAME.NET

ddraw.dll
ddraw.ini

sun.ini

spawn.ini
spawnmap.ini
spawnSG.ini
stats.dmp
statistics.dat
ts.log
except.txt
mpstats.log
sync*.txt
mpstats.txt

_gsdata_
buffer

MIX\SCORES.MIX
MIX\SCORES01.MIX
MIX\Movies01.mix
MIX\Movies02.mix
MIX\Movies03.mix

Language.dll
